
/* .div-card-container{
    background-color: rgb(255, 255, 255);
    width: 20vw;
    position: absolute;
    top: 55%;
    left: 40%;
}


.icon-home-card {
    font-size: 4rem;
    color: #1D0E43;
} */

/* .Banner-Landing {
    position: absolute;
    top: 10%;
    left: 20%;
    background-color: blue;
}
   */
