


.nav_container {
    width:90vw;
    height:55px ;
    display:flex ;
    align-items:center ;
    justify-content:space-around;
    top:0 ;
    left: 5%;
    position:fixed ;
    z-index:2 ;
    margin: 0px ;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    
}



